body {padding:25px 30px}
.log-o img {width:111px;vertical-align: middle;}
.log-o {display: inline-block;}
.nav-li {display:inline-block; vertical-align:middle;}
.nav-li li {display: inline-block;margin-left:30px;font-family: 
	"BPG Nino Mtavruli Bold", sans-serif;}
.blue-box {margin-top:24px; background-color:#3D58A6 ;background-size:60px 60px; color: white }		